
* interface san-port-channel 1
  * channel mode active
  * switchport mode E
  * switchport trunk allowed vsan 1
  * switchport trunk allowed vsan add 10
  * switchport speed 4000


* show fcns database
* show fcns database vsan 10
